p{
  font-family: reboto, arial;
  margin-top: 0;
  margin-bottom: 0;
}

body{
  margin: 0;
  padding-top: 80px;  
  padding-left: 80px;
  padding-right: 25px;
  background-color: rgb(253, 248, 248);
  padding-left: 100px;
}

